/* CSS created by Geoffrey Woytt */

/* Global Settings (Mobile First) */
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: wheat;
    font-family: "Helvetica", "Arial", sans-serif;
}

header {
    background-color: white;
    padding: 10px;
}

a {
    color: black;
}

nav {
    border: 2px chocolate solid;
    padding: 5px 10px;
    margin: 10px 0px;
}

nav li {
    list-style: none;
    margin: 5px 0px;
}

main {
    padding: 10px;
    margin-bottom: 25px;
}

section {
    margin: 10px 0px;
}

#hero img {
    width: 100px;
    float: left;
    margin: 0px 15px 15px 0px;
}

h2 {
    margin: 15px 0px;
}

section#parks {
    clear: left;
}

article {
    margin: 10px 0px;
}

main li {
    margin-left: 30px;
}

section#last {
    margin-bottom: 25px;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 600px) {
    body {
        grid-template-columns: 1fr 1fr;
        background-color: wheat;
    }
}

@media screen and (min-width: 800px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
        background-color: wheat;
    }
}